
@{
    ViewData["Title"] = "ModelBindingSeparateModel";
}

<h2><b>ModelBindingSeparateModel</b></h2>
<form method="post" action="~/Calc/Count4">
    <input name="first_value" />
    <select name="operation">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input name="second_value" />
    <input type="submit" />
</form>

